<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body>
<form name="myForm"  novalidate>
<table>
<tr>
<td>PART NUMBER:</td>
<td>  <input type="text" name="partNumber" data-ng-model="data.partNumber" /> </td>
</tr>
<tr>
<td>SITE CODE:</td>
<td> <input type="text" name="siteCode" data-ng-model="data.siteCode" /> </td>
</tr>
<tr>
<td> ISSES SERIAL IND:</td>
<td> <input type="text" name="issesInd" data-ng-model="data.issesInd" /> </td>
</tr>
<tr>
<td>CODN SICR IND:</td>
<td> <input type="text" name="codnInd" data-ng-model="data.codnInd" /> </td>
</tr>
<tr>
<td>CHANGED IND:</td>
<td> <input type="text" name="changeInd" data-ng-model="data.changeInd" /> </td>
</tr>
<tr>
<td>CLEAN IND:</td>
<td> <input type="text" name="cleanInd" data-ng-model="data.cleanInd" /> </td>
</tr>
<tr>
<td>SHIPPING SN IND:</td>
<td> <input type="text" name="shippingInd" data-ng-model="data.shippingInd" /> </td>
</tr>
<tr>
<td>INVENTORY ADJUSTMENT IND:</td>
<td> <input type="text" name="inventoryInd" data-ng-model="data.inventoryInd" /> </td>
</tr>
<tr>
<td>SPECIAL HANDLING IND:</td>
<td> <input type="text" name="specialInd" data-ng-model="data.specialInd" /> </td>
</tr>
<tr>
<td>MEO IND:</td>
<td> <input type="text" name="meoInd" data-ng-model="data.meoInd" /> </td>
</tr>
<tr>
<td>KIT VALIDATION IND:</td>
<td>  <input type="text" name="kitInd" data-ng-model="data.kitInd" /> </td>
</tr>
<tr>
<td>BULK IND:</td>
<td>  <input type="text" name="bulkInd" data-ng-model="data.bulkInd" /> </td>
</tr>
<tr>
<td>SHIP NOTIFICATION IND:</td>
<td>  <input type="text" name="shipInd" data-ng-model="data.shipInd" /> </td>
</tr>
<tr>
<td>TAMMS IND:</td>
<td>  <input type="text" name="tammsInd" data-ng-model="data.tammsInd" /> </td>
</tr>
<tr>
<td>CYCLE CLASS CD:</td>
<td>  <input type="text" name="cycleClasscd" data-ng-model="data.cycleClasscd" />  </td>
</tr>
<tr>
<td>CFM IND:</td>
<td>  <input type="text" name="cfmInd" data-ng-model="data.cfmInd" /> </td>
</tr>
<tr>
<td></td>
<td> <input type="submit" name="savebtn" data-ng-click="addRecord(); "  /> </td>
</tr>

</table>
</form>
</body>
</html>
