.navbar {
	height: 15%;
	width: 100%;
	background-color: green;
	text-align: center;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

html,body {
	display: block;
	margin: 0px;
	height: 100%;
	width: 100%
}


.statusbar {
	height: 5%;
	width: 100%;
	background-color: green;
	text-align: center;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.container {
	margin: 0px;
	height: 77%;
}
